################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MessageQueue.CofigurationProvider.AppSettings/obj/Debug
*.vspscc
/MessageQueue.CofigurationProvider.AppSettings/MessageQueue.CofigurationProvider.AppSettings.csproj.vspscc
/MessageQueue.CofigurationProvider.AppSettings/MessageQueue.CofigurationProvider.AppSettings.csproj.vspscc
/MessageQueue.CofigurationProvider.Core/obj/Debug
/MessageQueue.Core/obj/Debug
