################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MessageQueue.CofigurationProvider.AppSettings/obj/Debug
*.vspscc
/MessageQueue.CofigurationProvider.AppSettings/MessageQueue.CofigurationProvider.AppSettings.csproj.vspscc
/MessageQueue.CofigurationProvider.AppSettings/MessageQueue.CofigurationProvider.AppSettings.csproj.vspscc
/MessageQueue.CofigurationProvider.Core/obj/Debug
/MessageQueue.Core/obj/Debug
/packages
/Tests/MessageQueue.RaR.Client/bin/Release
/Tests/MessageQueue.RaR.Client/obj/Release
/MessageQueue.ZeroMq/DynamicQueue.ZeroMq.1.0.0/lib
/MessageQueue.ZeroMq/DynamicQueue.ZeroMq.1.0.0/package/services/metadata/core-properties
/MessageQueue.ZeroMq/DynamicQueue.ZeroMq.1.0.0/_rels
/MessageQueue.ZeroMq/DynamicQueue.ZeroMq.1.0.0/[Content_Types].xml
/.vs/DynamicQueue/v15
/MessageQueue.CofigurationProvider.AppSettings/obj/Release/TempPE
/MessageQueue.CofigurationProvider.Core/obj/Release
/MessageQueue.CofigurationProvider.AppSettings/obj/Release
/MessageQueue.Core/obj/Release
/MessageQueue.Log.Core/obj/Release
/MessageQueue.Log.NLog/nuget.exe
*.user
/MessageQueue.Log.NLog/DynamicQueue.Log.NLog.1.0.0.nupkg
/MessageQueue.Log.NLog/obj/Release
/MessageQueue.RabbitMq/obj/Release
/MessageQueue.ServiceBus/obj
/MessageQueue.RabbitMq/nuget.exe
/MessageQueue.RabbitMq/DynamicQueue.RabbitMq.1.0.0.nupkg
/MessageQueue.ServiceBus/nuget.exe
/MessageQueue.ServiceBus/DynamicQueue.ServiceBus.1.0.0.nupkg
/MessageQueue.ZeroMq/nuget.exe
/Tests/MessageQueue.RaR.Server/obj/Release
/Tests/MessageQueue.RaR.Server/bin/Release
/Tests/MessageQueue.Sender/obj/Release
/Tests/MessageQueue.Sender/bin/Debug
/Tests/MessageQueue.Receiver/obj/Release
/Tests/MessageQueue.Receiver/bin/Release
/_Output/bin/Release
/MessageQueue.ZeroMq/DynamicQueue.ZeroMq.1.0.0
/MessageQueue.ZeroMq/obj/Release
/MessageQueue.Log.Core/obj/Debug
/MessageQueue.Log.NLog/obj/Debug
/MessageQueue.RabbitMq/obj/Debug
/MessageQueue.ZeroMq/obj/Debug
/Tests/MessageQueue.RaR.Client/bin/Debug/logs
/Tests/MessageQueue.RaR.Client/bin/Debug
/Tests/MessageQueue.RaR.Client/obj/Debug
/Tests/MessageQueue.RaR.Server/bin/Debug
/Tests/MessageQueue.Receiver/bin/Debug
/Tests/MessageQueue.RaR.Server/obj/Debug
/Tests/MessageQueue.Receiver/obj/Debug
/_Output/bin/Debug
/Tests/MessageQueue.Sender/obj/Debug
