<?xml version="1.0"?>
<appSettings>

  <!-- NOTE:
  This file contains credentials only for TESTING purpose. In real time applications, either it should be encrypted or stored somewhere else.
  -->
  
  <!-- ========== Outbound Configurations ========== -->

  <!-- ************************************************************** -->
  <!-- *** FaF - Fire and Forget Pattern *** -->
  <!-- ZeroMq -->
  <add key="ZeroMqFaFOutbound:Address" value=">tcp://localhost:5551" />
  <add key="ZeroMqFaFOutbound:Implementation" value="MessageQueue.ZeroMq.Concrete.Outbound.ZmqOutboundFaF`1, MessageQueue.ZeroMq" />

  <!-- RabbitMq -->
  <add key="RabbitMqFaFOutbound:UserName" value="guest" />
  <add key="RabbitMqFaFOutbound:Password" value="guest" />
  <add key="RabbitMqFaFOutbound:Address" value="localhost" />
  <add key="RabbitMqFaFOutbound:QueueName" value="Test_SampleQueue" />
  <add key="RabbitMqFaFOutbound:Implementation" value="MessageQueue.RabbitMq.Concrete.Outbound.RmqOutboundFaF`1, MessageQueue.RabbitMq" />

  <!-- ServiceBus -->
  <add key="ServiceBusFaFOutbound:Address" value="Endpoint" />
  <add key="ServiceBusFaFOutbound:QueueName" value="Test_SampleQueue" />
  <add key="ServiceBusFaFOutbound:Implementation" value="MessageQueue.ServiceBus.Concrete.Outbound.SbOutboundFaF`1, MessageQueue.ServiceBus" />

  <!-- *** RaR - Request and Response Pattern - Clinet *** -->
  <!-- ZeroMq -->
  <add key="ZeroMqRaRClient:Address" value=">tcp://localhost:5552" />
  <add key="ZeroMqRaRClient:Implementation" value="MessageQueue.ZeroMq.Concrete.Outbound.ZmqOutboundRaR`2, MessageQueue.ZeroMq" />

  <!-- RabbitMq -->
  <add key="RabbitMqRaRClient:UserName" value="guest" />
  <add key="RabbitMqRaRClient:Password" value="guest" />
  <add key="RabbitMqRaRClient:Address" value="localhost" />
  <add key="RabbitMqRaRClient:QueueName" value="Test_RequestQueue" />
  <add key="RabbitMqRaRClient:Implementation" value="MessageQueue.RabbitMq.Concrete.Outbound.RmqOutboundRaR`2, MessageQueue.RabbitMq" />

  <!-- ========================================================================================== -->
  
  <!-- ========== Inbound Configurations ========== -->

  <!-- *** FaF - Fire and Forget Pattern *** -->
  <!-- ZeroMq -->
  <add key="ZeroMqFaFInbound:Address" value="@tcp://localhost:5551" />
  <add key="ZeroMqFaFInbound:Implementation" value="MessageQueue.ZeroMq.Concrete.Inbound.ZmqInboundFaF`1, MessageQueue.ZeroMq" />

  <!-- RabbitMq -->
  <add key="RabbitMqFaFInbound:UserName" value="guest" />
  <add key="RabbitMqFaFInbound:Password" value="guest" />
  <add key="RabbitMqFaFInbound:Address" value="localhost" />
  <add key="RabbitMqFaFInbound:Acknowledgment" value="true" />
  <add key="RabbitMqFaFInbound:QueueName" value="Test_SampleQueue" />
  <add key="RabbitMqFaFInbound:Implementation" value="MessageQueue.RabbitMq.Concrete.Inbound.RmqInboundFaF`1, MessageQueue.RabbitMq" />

  <!-- ServiceBus -->
  <add key="ServiceBusFaFInbound:Address" value="Endpoint" />
  <add key="ServiceBusFaFInbound:QueueName" value="Test_SampleQueue" />
  <add key="ServiceBusFaFInbound:Implementation" value="MessageQueue.ServiceBus.Concrete.Inbound.SbInboundFaF`1, MessageQueue.ServiceBus" />
  
  <!-- ************************************************************** -->
  <!-- *** RaR - Request and Response Pattern - Server *** -->
  <!-- ZeroMq -->
  <add key="ZeroMqRaRServer:Address" value="@tcp://localhost:5552" />
  <add key="ZeroMqRaRServer:Implementation" value="MessageQueue.ZeroMq.Concrete.Inbound.ZmqInboundRaR`2, MessageQueue.ZeroMq" />

  <!-- RabbitMq -->
  <add key="RabbitMqRaRServer:UserName" value="guest" />
  <add key="RabbitMqRaRServer:Password" value="guest" />
  <add key="RabbitMqRaRServer:Address" value="localhost" />
  <add key="RabbitMqRaRServer:Acknowledgment" value="true" />
  <add key="RabbitMqRaRServer:QueueName" value="Test_RequestQueue" />
  <add key="RabbitMqRaRServer:Implementation" value="MessageQueue.RabbitMq.Concrete.Inbound.RmqInboundRaR`2, MessageQueue.RabbitMq" />
  
</appSettings>
